/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    scroll-behavior: smooth; /* Smooth scrolling for navigation */
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #6a4069;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(118, 114, 114, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none; /* Remove underline */
    color: #f8f1f1; /* White text */
    font-size: 1rem; /* Font size */
    font-weight: bold;
    transition: color 0.3s; /* Smooth hover effect */
}

.navbar ul li a:hover {
    color: #aa6600;
}

/* Landing Section */
#landing {
    background: linear-gradient(to right, #6a11cb, #3b4c6a);
    color: #f9f5f6;
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing .intro h1 {
    font-size: 3rem;
}

/* About, Projects, Skills, and Contact Sections */
#about, #projects, #skills, #contact {
    margin: 20px 0;
    padding: 50px 20px;
    text-align: center;
}

.skill {
    background: #d40051;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}